/* this is a comment in CSS */

h1 {
	background: rgb(0,20,220);
	font-family: 'Rubik Beastly', cursive;
    font-size: 9vw;


}

#theFlexContainer {
	display: flex;
	background-color: yellow;
	padding: 2vw;
	border: solid red;
	margin: 5vh;
}
body {
	/* background: rgb(200,150,150); */
	background-color: rgb(255,192,203);
	font-family: 'PT Sans Caption', sans-serif;
	
}

p {
	background: rgba(255,255,255);
	border: 5px solid green;
	padding: 6vw;

}

.flexies {
	background-color: aqua;
	border: none;
	margin: 4vh;
	padding: 1px;
	justify-content: center;
}
/* i have made different positioning decisions to the <p> tag w/ the class .thePostition. turn the following code blocks off + on to see how they changed the web page */

/* .thePosition {
	background: pink;
	position: relative;
	top: 50px;
	right: 100px;
} */


/* .thePosition {
	background: pink;
	position: absolute;
	top: 50px;
	right: 100px;

} */

/* .thePosition {
	 background: pink;
	position: absolute;
	top: 100px;
	bottom: 100px;
	left: 100px;
	right: 100px;

} */

#theTest {
	background: lime;
	position: absolute;
	top: 10px;
	left: 30px;
	z-index: -1;
}
